@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}

@keyframes move-separator {
  0% {
    transform: translate(20%);
  }
  100% {
    transform: translate(-100%);
  }
}

@font-face {
  font-family: serif-font;
  src: url(../fonts/Allura-Regular.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fafafa;
}

body .serif-font {
  font-family: serif-font;
  font-style: italic;
  font-size: 1.3em;
}

body .font-archivo {
  font-family: 'Archivo', sans-serif;
}

body .font-bebas {
  font-family: 'Bebas Neue', cursive;
}

body header {
  text-align: center;
  border-bottom: 1px solid white;
  width: 100%;
}

body header p {
  margin: 15px;
  font-size: 1.2em;
}

body .landing-content {
  position: relative;
  top: 5rem;
  left: 0;
  transform: none;
  text-align: left;
  padding-left: 15px;
  height: 85vh;
  min-height: 85vh;
  overflow: hidden;
}

body .landing-content .top-text, body .landing-content .center-text, body .landing-content .bottom-text {
  display: block;
  color: #fafafa;
  font-size: 2.3rem;
  line-height: 1.1;
  z-index: 3;
}

body .landing-content .landing-image {
  display: block;
  width: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  z-index: -1;
}

body .landing-content .scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 20%;
  bottom: 30px;
  border-radius: 50px;
  cursor: pointer;
}

body .landing-content .scroll-down::before, body .landing-content .scroll-down::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 30%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

body .landing-content .scroll-down::after {
  top: 20%;
  animation-delay: .3s;
}

body .landing-content p {
  text-align: center;
  position: absolute;
  top: 78vh;
  left: 130px;
}

body .separator-landing {
  position: relative;
  top: 5rem;
  height: 3rem;
  font-size: 21px;
  width: 200vw;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  display: flex;
}

body .separator-landing .separator-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

body .separator-landing .separator-container:nth-child(1) {
  animation: move-separator 9s linear infinite;
}

body .separator-landing .separator-container p:nth-child(odd) {
  color: #ff00ff;
}

body .about-me {
  height: 84vw;
  margin-top: 80px;
  padding-top: 4rem;
  font-size: 2.3rem;
}

body .about-me h2 {
  padding-left: 15px;
  padding-right: 5px;
}
