@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}

@keyframes move-separator {
  0% {
    transform: translate(80%);
  }
  100% {
    transform: translate(-100%);
  }
}

@font-face {
  font-family: serif-font;
  src: url(../fonts/Allura-Regular.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fafafa;
}

body .serif-font {
  font-family: serif-font;
  font-style: italic;
  font-size: 1.3em;
}

body .font-archivo {
  font-family: 'Archivo', sans-serif;
}

body .font-bebas {
  font-family: 'Bebas Neue', cursive;
}

body header {
  text-align: center;
  border-bottom: 1px solid white;
  width: 100%;
}

body header p {
  margin: 15px;
  font-size: 1.2em;
}

body .landing-content {
  position: relative;
  top: 5rem;
  left: 0;
  transform: none;
  text-align: left;
  padding-left: 15px;
  height: 100vh;
  min-height: 85vh;
  overflow: hidden;
}

body .landing-content .top-text, body .landing-content .center-text, body .landing-content .bottom-text {
  display: block;
  color: #fafafa;
  font-size: 2.3rem;
  line-height: 1.1;
}

body .landing-content .landing-image {
  display: block;
  width: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  z-index: -1;
}

body .landing-content .scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 10%;
  bottom: 60px;
  border-radius: 50px;
  cursor: pointer;
}

body .landing-content .scroll-down::before, body .landing-content .scroll-down::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 30%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

body .landing-content .scroll-down::after {
  top: 20%;
  animation-delay: .3s;
}

body .landing-content p {
  text-align: center;
  position: absolute;
  bottom: 80px;
  left: 100px;
}

body .separator-landing {
  position: relative;
  top: 5rem;
  height: 3rem;
  font-size: 21px;
  overflow: hidden;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  display: flex;
}

body .separator-landing .separator-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: baseline;
  margin: 7px;
  padding: 0;
}

body .separator-landing .separator-container:nth-child(1) {
  animation: move-separator 5s linear infinite;
  position: absolute;
}

body .separator-landing .separator-container p:nth-child(odd) {
  color: #ff00ff;
}

body .about-me {
  height: 80vh;
  margin-top: 80px;
  padding-top: 4rem;
  font-size: 2.5rem;
}

body .about-me h2 {
  padding-left: 15px;
  padding-right: 5px;
}

body .skills-container {
  position: relative;
  flex-direction: column;
  margin-top: 100px;
}

body .skills-container .skills-item {
  width: auto;
  height: 5rem;
  justify-content: center;
  border-bottom: solid 1px #fafafa;
  margin: 0;
  padding: 2rem 1.5rem;
}

body .skills-container .skills-item .item-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

body .skills-container .skills-item .item-title .item-number {
  color: #ff00ff;
  font-size: 1.5rem;
  margin-right: 1rem;
}

body .skills-container .skills-item .item-title .item-title-text {
  color: #fafafa;
  font-size: 2.5rem;
}

body .contact-me-section {
  padding-top: 1.5rem;
}

body .contact-me-section .contact-form {
  text-align: center;
  margin-top: 2rem;
  height: 200px;
}

body .contact-me-section .contact-form h2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.1;
  margin-bottom: 1.2em;
}

body .contact-me-section .contact-form a {
  padding: 13px 50px;
  text-decoration: none;
  color: #ff00ff;
  font-size: 1.3rem;
  border-radius: 50px;
  border: solid 1px #ff00ff;
}

body .contact-me-section .contact-links {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

body .contact-me-section .contact-links a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.2em;
  font-weight: 200;
}

@media screen and (min-device-width: 427px) {
  main .landing-content .top-text, main .landing-content .center-text, main .landing-content .bottom-text {
    font-size: 4em;
    margin-left: 50px;
  }
  main .landing-content .landing-image {
    top: 5%;
    width: 400px;
  }
  main .landing-content .scroll-down {
    left: 70px;
    bottom: 20px;
  }
  main .landing-content p {
    bottom: 38px;
    left: 120px;
  }
  main .about-me {
    height: 50vh;
  }
}
